/* ------------------------------------------------------------------------------------------------ */

/* --- --- -- COLORS -- --- --- */

$color-topBar: #181e2d;
$color-float: #181e2df1;
$color-back: #262b41;
$color-footer: #353c5a;
$color-Link: #fbaccc;
$color-title: #b2fa9c;
$color-Hover: #a4ebf3;
$color-Hover-2: rgba(121, 219, 255, 0.5);
$color-font: #e7fff1;
$color-white: white;
$color-orange: #ff8882;

/* ------------------------------------------------------------------------------------------------ */
