/* ------------------------------------------------------------------------------------------------ */

/* --- --- -- ABOUT-ME -- --- --- */

.section__container {
  overflow: hidden;
  @extend %flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: $color-footer;
}

#about-me {
  height: 80px;
  color: $color-white;
  font-size: 13px;
}

.container--footer {
  width: 80%;
  align-self: center;
  height: 50px;
  border-top: dashed 1.5px $color-white;
  border-bottom: dashed 1.5px $color-white;
  @extend %flex;
  justify-content: space-between;
}

#heart {
  color: lightcoral;
}

.social {
  @extend %flex;
  justify-content: space-around;
  width: 180px;
}

.social a {
  color: $color-white;
  font-size: 20px;
}

.social a:hover {
  border-bottom: solid 2px $color-white;
}

#icons {
  margin-left: 5px;
}

/* ------------------------------------------------------------------------------------------------ */

/* --- --- -- RESPONSIVE DESIGN -- --- --- */

@media screen and (max-width: 600px) {
  .container--footer {
    padding: 6px;
    flex-direction: column;
  }
}
