/* ------------------------------------------------------------------------------------------------ */

/* --- --- -- GLOBAL CONFIG -- --- --- */

%shadow {
  -webkit-box-shadow: 0px 8px 10px -6px #0000005b;
  box-shadow: 0px 8px 10px -6px #0000005b;
}

%flex {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  outline: none;
}

/* ------------------------------------------------------------------------------------------------ */
