.header, .character--card {
  -webkit-box-shadow: 0px 8px 10px -6px #0000005b;
  box-shadow: 0px 8px 10px -6px #0000005b; }

.top-bar, .header, .header--container, .social, .main__container, .main__container--details, .character__container, .character__grid, .status, .footer, .social-footer {
  display: flex;
  align-items: center; }

* {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  outline: none; }

/* ------------------------------------------------------------------------------------------------ */
/* Title bar */
.top-bar {
  justify-content: center;
  flex-direction: column; }

.header {
  overflow: hidden;
  width: 100%;
  height: 70px;
  color: #ffffff;
  background-color: #42464d;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1; }

.header--container {
  width: 85%;
  justify-content: space-between; }

.social {
  justify-content: space-around;
  width: 180px; }
  .social a {
    color: white;
    font-size: 20px; }
  .social a:hover {
    border-bottom: solid 2px white; }

#icons {
  margin-left: 5px; }

/* ------------------------------------------------------------------------------------------------ */
/* Information section */
.main__container {
  overflow: hidden;
  width: 90%;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px 0 50px 0; }
  .main__container img {
    width: 600px;
    object-fit: cover; }

.main__container--details {
  flex-direction: column;
  width: 400px; }

.main-title {
  font-size: 1.5rem;
  padding-top: 50px;
  color: #64dd5b; }

.main-desc {
  font-size: .9rem;
  padding-top: 15px;
  color: #444444;
  text-align: justify;
  line-height: 30px;
  font-family: 'Roboto Mono', monospace; }
  .main-desc a {
    text-decoration: none;
    color: #43accc; }
  .main-desc a:hover {
    text-decoration: underline;
    color: #cc4383; }

/* ------------------------------------------------------------------------------------------------ */
/* Character section */
.character__container {
  overflow: hidden;
  width: 100%;
  background-color: #f0f0f0;
  padding-bottom: 50px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap; }

.character--title {
  font-size: 2rem;
  padding-top: 50px;
  color: #64dd5b;
  margin-bottom: 10px; }

.character__grid {
  width: 100%;
  justify-content: center;
  flex-wrap: wrap; }

.character--card {
  width: 260px;
  height: 370px;
  margin: 20px;
  background-color: white;
  border-radius: 6px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left; }
  .character--card img {
    object-fit: cover;
    width: 240px;
    height: 240px;
    align-self: center; }

.card--details {
  height: 80px;
  margin-top: 20px;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.card-status--name {
  margin-left: 1px; }

.alive {
  color: #a2d0c1; }

.dead {
  color: #e97878; }

.refresh_Button {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

#btn-r {
  background-color: #64dd5b;
  color: white;
  border-radius: 50px;
  padding: 5px 32px;
  font-weight: bold;
  letter-spacing: 1.5px;
  cursor: pointer;
  text-transform: uppercase;
  border-color: transparent;
  text-decoration: none; }

#btn-r:hover {
  background-color: lightcoral; }

/* ------------------------------------------------------------------------------------------------ */
/* Bottom bar */
.footer {
  justify-content: center;
  height: 30px;
  width: 100%;
  background-color: #e0dede; }

.social-footer {
  justify-content: space-around;
  width: 180px;
  display: none; }
  .social-footer a {
    color: #42464d;
    font-size: 20px; }
  .social-footer a:hover {
    border-bottom: solid 2px #42464d; }

#icons {
  margin-left: 5px; }

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 650px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center; }

  .header--container {
    justify-content: center; }

  .social {
    display: none; }

  .main__container--details {
    width: 330px; }

  .main__container {
    padding: 15px 0 50px 0; }
    .main__container img {
      margin-top: 0; }

  .main__container--details {
    margin-top: 0; }

  .social-footer {
    display: flex; } }

/*# sourceMappingURL=styles.css.map */
