$color-topBar: #42464d;
$color-Link: #43accc;
$color-title: #64dd5b;
$color-Hover: #cc4383;
$color-font: #444444;

%shadow {
  -webkit-box-shadow: 0px 8px 10px -6px #0000005b;
  box-shadow: 0px 8px 10px -6px #0000005b;
}

%flex {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  outline: none;
}

/* ------------------------------------------------------------------------------------------------ */

/* Title bar */

.header {
  overflow: hidden;
  width: 100%;
  height: 70px;
  color: #ffffff;
  background-color: $color-topBar;
  @extend %flex;
  justify-content: space-between;
  @extend %shadow;
  position: relative;
  z-index: 1;
}

.header--title {
  padding-left: 50px;
}

#git {
  width: 50px;
}

.fab{
  visibility: hidden;
}

.header--info {
  padding-right: 50px;
  @extend %flex;
  justify-content: center;

  ul {
    list-style: none;
    padding-left: 5px;
    text-align: right;
    display: flex;
    justify-content: space-around;
  }

  li {
    display: flex;
    padding-left: 10px;
  }

  li a {
    text-decoration: none;
    color: white;
  }

  a:hover {
    color: $color-Link;
  }
}

/* ------------------------------------------------------------------------------------------------ */

/* Information section */

.main__container {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  img {
    width: 600px;
    object-fit: cover;
  }
}

.main__container--details {
  @extend %flex;
  flex-direction: column;
  width: 400px;
}

.main-title {
  font-size: 1.5rem;
  padding-top: 50px;
  color: $color-title;
}

.main-desc {
  font-size: 1rem;
  padding-top: 15px;
  color: $color-font;
  text-align: justify;
  line-height: 30px;

  a {
    text-decoration: none;
    color: $color-Link;
  }

  a:hover {
    text-decoration: underline;
    color: $color-Hover;
  }
}

/* ------------------------------------------------------------------------------------------------ */

/* Character section */

.character__container {
  overflow: hidden;
  width: 100%;
  @extend %flex;
  background-color: rgb(240, 240, 240);
  margin-top: 100px;
  padding-bottom: 50px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.character--title {
  font-size: 1.5rem;
  padding-top: 50px;
  color: $color-title;
  margin-bottom: 10px;
}

.character__grid {
  width: 100%;
  @extend %flex;
  justify-content: center;
  flex-wrap: wrap;
}

.character--card {
  width: 260px;
  height: 370px;
  margin: 20px;
  background-color: white;
  border-radius: 6px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  @extend %shadow;

  img {
    object-fit: cover;
    width: 240px;
    height: 240px;
    align-self: center;
  }
}

.card--details {
  height: 80px;
  margin-top: 20px;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.status {
  @extend %flex;
}

.card-status--name{
  margin-left: 1px;
}

.alive {
  color: #a2d0c1;
}

.dead {
  color: #e97878;
}

.refresh_Button {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#btn-r {
  background-color: #64dd5b;
  color: white;
  border-radius: 50px;
  padding: 5px 32px;
  font-weight: bold;
  letter-spacing: 1.5px;
  cursor: pointer;
  text-transform: uppercase;
  border-color: transparent;
  text-decoration: none;
}

#btn-r:hover {
  background-color: lightcoral;
}

/* ------------------------------------------------------------------------------------------------ */

/* Bottom bar */
.footer {
  display: flex;
  overflow: hidden;
  bottom: 0;
  align-items: center;
  justify-content: center;
  color: $color-topBar;
  height: 40px;
  width: 100%;
  background-color: #e0dede;
}


.footer-text{
  visibility: hidden;
}

.footer-text_2 {
  visibility: visible;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
}

.footer-text_2 p{
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  margin-left: 10px;
}


/* RESPONSIVE DESIGN */

@media only screen and (max-width: 650px) {
  
  
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header--title {
  padding-left: 0;
}

.header--info{ 
  display: none;
}

.main__container--details {
  width: 330px;
}


.footer-text_2 {
  display: none;
}

.footer-text{
  visibility: visible;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
}

.footer-text p{
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
}

.fab {
  visibility: visible;
  margin-left: 5px;
  margin-right: 5px;
  list-style: none;
  text-align: center;
  color: $color-topBar;
}

.footer-text a {
  color: $color-topBar;

  text-decoration: none;
}
.footer a:hover {
  text-decoration: none;
  color: $color-Link;
}

}
