
.showM {
  background-color: #ff5d8f;
  border: 2px solid #ffafcc;
  width: 150px;
  height: 35px;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Noto Sans', sans-serif;
  color: white;
  cursor: pointer;
  outline: none;
}

.showM:hover {
  background-color: #4ecdc4;
  border-color: white;
}

.found_character-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.found_character-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.found_character-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  width: 250px;
  margin: 0px auto;
  padding: 20px 30px;
  text-align: left;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}

.found_character-container  img {
  object-fit: cover;
  width: 250px;
  height: 240px;
  align-self: center; 
}

h3 {
  align-self: center;
}

footer {
  text-align: right;
}