.header, .character--card {
  -webkit-box-shadow: 0px 8px 10px -6px #0000005b;
  box-shadow: 0px 8px 10px -6px #0000005b; }

.header, .header--info, .main__container--details, .character__container, .character__grid, .status, .footer {
  display: flex;
  align-items: center; }

* {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  outline: none; }

/* ------------------------------------------------------------------------------------------------ */
/* Title bar */
.header {
  overflow: hidden;
  width: 100%;
  height: 70px;
  color: #ffffff;
  background-color: #42464d;
  justify-content: space-between;
  position: relative;
  z-index: 1; }

.header--title {
  padding-left: 50px; }

#git {
  width: 50px; }

.fab {
  visibility: hidden; }

.header--info {
  padding-right: 50px;
  justify-content: center; }
  .header--info ul {
    list-style: none;
    padding-left: 5px;
    text-align: right;
    display: flex;
    justify-content: space-around; }
  .header--info li {
    display: flex;
    padding-left: 10px; }
  .header--info li a {
    text-decoration: none;
    color: white; }
  .header--info a:hover {
    color: #43accc; }

/* ------------------------------------------------------------------------------------------------ */
/* Information section */
.main__container {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .main__container img {
    width: 600px;
    object-fit: cover; }

.main__container--details {
  flex-direction: column;
  width: 400px; }

.main-title {
  font-size: 1.5rem;
  padding-top: 50px;
  color: #64dd5b; }

.main-desc {
  font-size: 1rem;
  padding-top: 15px;
  color: #444444;
  text-align: justify;
  line-height: 30px; }
  .main-desc a {
    text-decoration: none;
    color: #43accc; }
  .main-desc a:hover {
    text-decoration: underline;
    color: #cc4383; }

/* ------------------------------------------------------------------------------------------------ */
/* Character section */
.character__container {
  overflow: hidden;
  width: 100%;
  background-color: #f0f0f0;
  margin-top: 100px;
  padding-bottom: 50px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap; }

.character--title {
  font-size: 1.5rem;
  padding-top: 50px;
  color: #64dd5b;
  margin-bottom: 10px; }

.character__grid {
  width: 100%;
  justify-content: center;
  flex-wrap: wrap; }

.character--card {
  width: 260px;
  height: 370px;
  margin: 20px;
  background-color: white;
  border-radius: 6px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left; }
  .character--card img {
    object-fit: cover;
    width: 240px;
    height: 240px;
    align-self: center; }

.card--details {
  height: 80px;
  margin-top: 20px;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

.card-status--name {
  margin-left: 1px; }

.alive {
  color: #a2d0c1; }

.dead {
  color: #e97878; }

.refresh_Button {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end; }

#btn-r {
  background-color: #64dd5b;
  color: white;
  border-radius: 50px;
  padding: 5px 32px;
  font-weight: bold;
  letter-spacing: 1.5px;
  cursor: pointer;
  text-transform: uppercase;
  border-color: transparent;
  text-decoration: none; }

#btn-r:hover {
  background-color: lightcoral; }

/* ------------------------------------------------------------------------------------------------ */
/* Bottom bar */
.footer {
  justify-content: flex-start;
  height: 100px;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  background-color: #42464d; }
  .footer .footer-text, .footer #platzi {
    color: white;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    padding-left: 50px; }
  .footer .footer-text_ {
    visibility: hidden; }
  .footer a:hover {
    text-decoration: none;
    color: #43accc; }

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 700px) {
  .footer {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center; } }
@media only screen and (max-width: 500px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative; }

  .header--title {
    padding-left: 0; }

  .header--info {
    display: none; }

  .footer {
    justify-content: center;
    flex-direction: column;
<<<<<<< HEAD
    align-items: center;
    overflow: hidden; }
=======
    align-items: center; }
>>>>>>> 241445cd31a89f707e341d0d2c45ad9c8e018833

  .footer-text_ {
    visibility: visible;
    display: flex;
    justify-content: space-around;
    align-items: center;
<<<<<<< HEAD
    padding-left: 0; }

  .footer-text_ a, p {
    color: white;
    font-size: 14px;
    visibility: visible;
    padding-left: 0;
    text-decoration: none; }

  .footer #platzi {
    padding: 0; }
=======
    padding-left: 50px; }

  .footer-text_, a, p {
    color: white;
    font-size: 14px;
    visibility: visible; }
>>>>>>> 241445cd31a89f707e341d0d2c45ad9c8e018833

  #gitLink {
    padding: 5px; }

<<<<<<< HEAD
=======
  .footer_text__ {
    color: white;
    font-size: 14px;
    visibility: visible; }

>>>>>>> 241445cd31a89f707e341d0d2c45ad9c8e018833
  .fab {
    visibility: visible;
    color: white;
    margin-left: 5px;
    list-style: none;
    text-align: center; }

  .footer-text {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
