.character--card, .header {
  -webkit-box-shadow: 0px 8px 10px -6px #0000005b;
  box-shadow: 0px 8px 10px -6px #0000005b;
}

.footer, .character__grid, .character__container, .main__container--details, .header--info, .header {
  display: flex;
  align-items: center;
}

* {
  margin: 0;
  font-family: "Fira Sans", sans-serif;
  outline: none;
}

/* ------------------------------------------------------------------------------------------------ */
/* Title bar */
.header {
  width: 100%;
  height: 70px;
  color: #ffffff;
  background-color: #42464d;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.header--title {
  padding-left: 50px;
}

#git {
  width: 50px;
}

.header--info {
  padding-right: 50px;
  justify-content: center;
}
.header--info ul {
  list-style: none;
  padding-left: 5px;
  text-align: right;
  display: flex;
  justify-content: space-around;
}
.header--info li {
  display: flex;
  padding-left: 10px;
}
.header--info li a {
  text-decoration: none;
  color: white;
}
.header--info a:hover {
  color: #43accc;
}

/* ------------------------------------------------------------------------------------------------ */
/* Information section */
.main__container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main__container img {
  width: 600px;
  object-fit: cover;
}

.main__container--details {
  flex-direction: column;
  width: 400px;
}

.main-title {
  font-size: 1.5rem;
  padding-top: 50px;
  color: #64DD5B;
}

.main-desc {
  font-size: 1rem;
  padding-top: 15px;
  color: #444444;
  text-align: justify;
  line-height: 30px;
}
.main-desc a {
  text-decoration: none;
  color: #43accc;
}
.main-desc a:hover {
  text-decoration: underline;
  color: #cc4383;
}

/* ------------------------------------------------------------------------------------------------ */
/* Character section */
.character__container {
  width: 100%;
  background-color: #f0f0f0;
  margin-top: 100px;
  padding-bottom: 50px;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.character--title {
  font-size: 1.5rem;
  padding-top: 50px;
  color: #64DD5B;
  margin-bottom: 10px;
}

.character__grid {
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.character--card {
  width: 260px;
  height: 370px;
  margin: 20px;
  background-color: white;
  border-radius: 6px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.character--card img {
  object-fit: cover;
  width: 240px;
  height: 240px;
  align-self: center;
}

.card--details {
  height: 80px;
  margin-top: 20px;
  color: gray;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* ------------------------------------------------------------------------------------------------ */
/* Bottom bar */
.footer {
  justify-content: start;
  height: 100px;
  width: 100%;
  background-color: #42464d;
}
.footer a,
.footer .footer-text {
  color: white;
  font-size: 14px;
  cursor: pointer;
  padding-left: 30px;
  text-decoration: none;
  padding-left: 50px;
}
.footer a:hover {
  text-decoration: underline;
  color: #43accc;
}

@media only screen and (max-width: 600px) {
  .footer {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
}

/*# sourceMappingURL=styles.css.map */
